h1{
    padding: 50px 105px;
}

#main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 5em;
}

#img{
    flex-grow: 1;
}

#img img{
    max-height: 600px;
}

#text{
    flex-grow: 1;
}

#text a{
    color: rgb(2, 194, 194);
}

