body, select{
	background-color: #252525;
	color: white;
	margin:0;
	font-family: Roboto,Arial,Helvetica,sans-serif;
}

.input-grey{
	border: 1px solid white;
	border-radius: 5px;
	background-color: rgb(77, 73, 73);
	font-family:"Segoe UI",Arial,sans-serif;
	font-size: 12pt;
	padding-left: 5px;
	padding-right: 5px;
	color: #C0C0C0;
	height: 30px;
}

.button-grey::placeholder{
	color: white
}

/*
** Select style start
*/

/* select{
	background-color: rgb(77, 73, 73);
	font-size: 16px;
	color: #C0C0C0;
	padding: .5em;
	border: 1px solid #aaa;
	border-radius: .5em;
}
select option {
	font-weight:normal;
} */


/*
** Select style end
*/