/*
** Logo orange: rgb(254,78,1)
** Logo yellow: rgb(249,165,5)
*/

#call-to-action{
	display: flex;
	justify-content: space-around;
	padding: 70px;
	background-image: url("../img/people-playing-vg-bg.jpg");
	background-position: center;
	min-height: 400px;
}

#left-header{
	max-width: 600px;
	flex-grow: 3;
}

#left-header p{
	font-size: 1.5em;
}

#right-header{
	flex-grow: 2;
	text-align: center;
}

button#sign-up{
	font-weight: bold;
	border: 2px solid #00BFFF;
	height: 50px;
	font-size: 1.5em;
	padding: 5px;
}

button#sign-up:hover{
	color:#00BFFF;
}

#main{
	display: flex;
	justify-content: center;
}

#title{
	text-align: center;
}

div section{
	border: 4px solid;
	border-radius: 25px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: 30%;
}

div section:hover{
	border-color: #fe4e01;
}

div section img{
	margin: 0 auto;
}

div section h2, div section p{
	text-align: center;
}

div section ol li{
	margin-top: 5px;
	color: #fea701;
}

div section ul li{
	margin-top: 5px;
	color:  #fea701;
}
