.advert{
  display: flex;
  align-self: right;
  padding: 1em;
}

.advert div{
    display: inline;
}

.advert img{
    width: 5em;
    height: 5em;
}

.advert img.heart{
    width: 2.5em;
    height: 2.5em;
}

