#advertisements{
	width: 100%;
}

.advert{
	padding: 1em;
	margin: 5px;
	background-color: #706c61;
	border: 2px solid #333333;
	height: 150px;
}

.advert *{
	display: inline;
}

.advert div{
	margin-left: 20px;
	align-self: start;
}

.advert img{
    max-width: 10%;
    height: 150px;
}

.advert img.heart{

    width: 2.5em;
    height: 2.5em;
}

