#advertisements{
	width: 80%;
	margin: auto;
}

.advert{
	padding: 1em;
	margin: 5px;
	background-color: #706c61;
	border: 2px solid #333333;
	height: 150px;
}

.advert>*{
	display: inline-block;
}

.advert div.advert-image{
	display: inline-block;
    width: 20%;
}

.advert div.advert-text{
	margin: auto 20px;
	width: 70%;
	text-align: left;
}

.advert img{
	height: 150px;
	margin-left: 0;
}

.advert img.heart{

    width: 2.5em;
    height: 2.5em;
}

