h1{
    text-align: center;
}

fieldset input,button, select{
    display: block;
    margin: 0 auto;
}

fieldset{
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
}

fieldset div{
    margin-bottom: 10px;
}

fieldset div p{
    margin: 0;
    color: rgba(255, 0, 0, 0.623);
    font-size: 15px;
}


input[type="radio"]{
    display: inline;
}
