h1{
    text-align: center;
}

fieldset input,button, select{
    display: block;
    margin: 10px auto 10px auto;
}

fieldset{
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
}

input[type="radio"]{
    display: inline;
}
