h1{
    text-align: center;
}

fieldset input,button, select{
    display: block;
    margin: 0 auto;
}

fieldset{
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
}

fieldset div{
    margin-bottom: 10px;
}

fieldset .error{
    margin: 0;
}

input[type="email"],input[type="password"],input[type="date"]{
    width: 200px;
    height: 25px;
}

input[type="radio"]{
    display: inline;
}

button{
    background-color: #fe4e01; 
    font-family: monospace;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
}

button:hover{
    background-color: #942c00;
}

input[type="text"]{
    width: 200px;
    height: 15px;
    padding: 8px 10px;
}


#piattaforma{
    width: 200px;
    height: 35px;
}