<div id="search-form">
	<h2>Cosa cerchi?</h2>
	<form action="search.shtml" method="GET">
		<input type="text" name="nome" id="nome" placeholder="Nome del gioco" class="input-grey" maxlength="50">
		<select name="piattaforma" id="piattaforma" class="input-grey">
			<option value="" disabled selected>Piattaforma...</option>
		<!-- Qui va fatta una richiestra ajax per trovare tutte le piattaforme presenti nel database
		-- e creare le options associate -->
			<option value="all">Tutte le piattaforme</option>
		</select>
		<button value="Cerca" type="submit" id="search">
			<img src="../../img/icons/lens.png" alt="Cerca">
		</button> <!-- Icona lente di ingrandimento cliccabile -->
		<!-- Possono essere aggiunti altri campi di ricerca -->
	</form>
</div>