<h2>Cosa cerchi?</h2>
<form action="search.html">
	<select name="piattaforma" id="piattaforma">
	<!-- Qui va fatta una richiestra ajax per trovare tutte le piattaforme presenti nel database
	-- e creare le options associate -->
		<option value="ps5">PS5</option>
		<option value="nintendo-switch">Nintendo Switch</option>
		<option value="xbox-series-x">XBox Series X</option>
	</select>
	<input type="text" name="luogo" id="luogo" placeholder="luogo">
	<input type="submit"> <!-- Icona lente di ingrandimento cliccabile -->
	<!-- Possono essere aggiunti altri campi di ricerca -->
</form>