/*Login bar start*/

header{
	border-bottom: 2px solid rgb(254,78,1);
	padding: 10px 100px 10px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

#logo{
	width: 350px;
}

#login-div{
	/* display: none; */
}

#login-div #button-accedi{
	font-weight: bold;
	border: 2px solid rgb(254,78,1);
}

#login-div #button-accedi:hover{
	color:rgb(254,78,1);
}

button#search{
	background-color: rgb(254,78,1);
	width: 64px;
	height: 40px;
	border-radius: 5px;
}

button#search img{
	width:20px;
	margin:auto;
}

/*Login bar ends*/


/*Personal bar starts*/

#personal-area{
	position: relative;
	background-color: rgb(77, 73, 73);
}

#personal-area>div{
	padding: 5px;
}

#personal-area>div>span{
	margin-left: 3px;
}

#user-menu{
	border: 2px solid rgb(168, 165, 165);
}

#user-menu>span{
	margin-right: 3px;
}

.user-options{
	transition: display 2s;
}

.hide{
	display: none;
}

#personal-area img{
	width: 25px;
}

img#down-arrow{
	width: 15px;
}

/*Personal bar ends*/
